    <!-- FOOTER -->
    <footer>
      <div class="container">
	<div class="row">
	  <div class="col-xs-12 col-sm-8">
            <h4><%= title %></h4>
            <ul class="list-inline">
              <li><a href="/">Accueil</a></li>
              <li><a href="#">Le Blog</a></li>
              <li><a href="#">A Propos</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
	    <form role="form" action="/newsletter" method="post">
	      <h4>Newsletter</h4>
	      <div class="input-group margin-bottom-sm col-xs-10 col-sm-6">
		<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
		<input class="form-control" name="email" type="text" placeholder="Email">
		<span class="input-group-btn">
		  <button type="submit" class="btn btn-default">S'inscrire</button>
		</span>
	      </div>
	    </form>
	  </div>
	  <div class="col-xs-12 col-sm-4">
            <h4>Contact</h4>
	    <address>
	      1 Rue de la Libération<br>
	      78350 Jouy-en-Josas<br>
	      Téléphone : 01 02 03 04 05<br>
	      Email : <a href="mailto:contact@lescaledezoe.com">contact@lescaledezoe.com</a>
	    </address>
	    <ul class="list-inline">
	      <li>
		<a href="https://facebook.com/lescaledezoe" class="icon"
		   target="_blank" title="Likez notre page sur Facebook">
		  <span class="fa-stack">
		    <i class="fa fa-circle fa-stack-2x"></i>
		    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
		  </span>
		</a>
	      </li>
	      <li>
		<a href="https://twitter.com/EscaleDeZoe" class="icon"
		   target="_blank" title="Suivez-nous sur Twitter">
		  <span class="fa-stack">
		    <i class="fa fa-circle fa-stack-2x"></i>
		    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
		  </span>
		</a>
	      </li>
	      <li>
		<a href="http://www.youtube.com/user/lescaledezoe" class="icon"
		   target="_blank" title="Ajoutez notre channel Youtube">
		  <span class="fa-stack">
		    <i class="fa fa-circle fa-stack-2x"></i>
		    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
		  </span>
		</a>
	      </li>
	      <li>
		<a href="#" class="icon" title="Revenir en haut de la page">
		  <span class="fa-stack">
		    <i class="fa fa-circle fa-stack-2x"></i>
		    <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
		  </span>
		</a>
	      </li>
	    </ul>
	  </div>
	</div>
      </div>
    </footer>
<% include simple_footer.html %>
