<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Zoé est en vadrouille. A chaque escale dans un nouveau pays, elle vous fait découvrir ses spécialités culinaires.">
    <meta name="keywords" content="L'Escale de Zoé,escale,decouverte,cuisiner,manger,voyager,monde,box,recette,cuisine">

   <title><%= title %></title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- NAVBAR
	 ================================================== -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= title %></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Accueil</a></li>
	    <li><a href="#">Le Blog</a></li>
	    <li><a href="#">A Propos</a></li>
	    <li><a href="#">FAQ</a></li>
	    <li><a href="/contact">Contact</a></li>
          </ul>
	  <ul class="nav navbar-nav navbar-right nav-pills clearfix">
	    <li>
	      <a href="#" class="icon dropdown-toggle" data-toggle="dropdown" title="Paramètres">
		<i class="fa fa-cog fa-2x"></i>
	      </a>
	      <ul class="dropdown-menu">
		<% if (user) { %>
		<li><a href="/profile">Mon Compte</a></li>
		<li class="divider"></li>
		<li><a href="/logout">Déconnexion</a></li>
		<% } else { %>
		<li><a href="/login">Connexion</a></li>
		<li class="divider"></li>
		<li><a href="/signup">Inscription</a></li>
		<% } %>
	      </ul>
	    </li>
	    <li>
	      <a href="https://facebook.com/lescaledezoe" class="icon"
	      	 target="_blank" title="Likez notre page sur Facebook">
		<span class="fa-stack">
		  <i class="fa fa-circle fa-stack-2x"></i>
		  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
		</span>
	      </a>
	    </li>
	    <li>
	      <a href="https://twitter.com/EscaleDeZoe" class="icon"
	      	 target="_blank" title="Suivez-nous sur Twitter">
		<span class="fa-stack">
		  <i class="fa fa-circle fa-stack-2x"></i>
		  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
		</span>
	      </a>
	    </li>
	  </ul>
        </div>
      </div>
    </div>
