<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

   <title><%= title %></title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><%= title %></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Accueil</a></li>
		<% if (user) { %>
		<li><a href="/profile">Mon Compte</a></li>
		<% } else { %>
		<li><a href="/login">Connexion</a></li>
		<li><a href="/signup">Inscription</a></li>
		<% } %>
		<li><a href="/blog">Le Blog</a></li>
                <li><a href="/contact">Contact</a></li>
		<% if (user) { %>
		<li><a href="/logout">Déconnexion</a></li>
		<% } %>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
