<% include header.html %>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
	    <div class="row carousel-caption">
              <div class="col-md-6 asset-box"><img class="img-thumbnail" alt="" src="/images/iran.png"></div>
	      <div class="col-md-6 caption">
		<h1>Iran</h1>
		<p>Zoé a choisi l'Iran comme première escale. Si khoreche, tchelo, ou bien encore doogh sont des mets qui attisent votre curiosité, n'hésitez plus et commandez en un clic !</p>
		<p><strong>Plus que 12 Heures !</strong></p>
		<div class="progress progress-striped active">
		  <div class="progress-bar"  role="progressbar" aria-valuenow="36"
		       aria-valuemin="0" aria-valuemax="48" style="width: 75%"></div>
		</div>
		<p>
		  <a class="btn btn-lg btn-danger" href="#" role="button">Je Commande</a>
		  <a class="btn btn-lg btn-primary" href="#" role="button">J'Offre</a>
		</p>
		  <!-- AddThis Button BEGIN -->
		  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
		    <a class="addthis_button_preferred_1"></a>
		    <a class="addthis_button_preferred_2"></a>
		    <a class="addthis_button_preferred_3"></a>
		    <a class="addthis_button_preferred_4"></a>
		    <a class="addthis_button_compact"></a>
		    <a class="addthis_counter addthis_bubble_style"></a>
		  </div>
		  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
		  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52ea7450721c8b82"></script>
		  <!-- AddThis Button END -->
	      </div>
	    </div>
          </div>
        </div>

        <div class="item">
          <div class="container">
	    <div class="row carousel-caption">
              <div class="col-md-6 asset-box">
		<img class="img-thumbnail" alt="argentine" src="/images/argentine.jpg">
	      </div>
	      <div class="col-md-6 caption">
		<h1>Argentine</h1>
		<p>Le pays des gauchos est une terre que vous avez toujours rêvé de sillonner, mais le temps vous manque.
		  Plongez vous dans l'atmosphère chatoyante argentine le temps d'une soirée et dégustez les plats typiques de ce bout du monde.</p>
		<p><strong>Plus que 5 Jours !</strong></p>
		<div class="progress progress-striped active">
		  <div class="progress-bar"  role="progressbar" aria-valuenow="7"
		       aria-valuemin="0" aria-valuemax="30" style="width: 25%"></div>
		</div>
		  <p><a class="btn btn-lg btn-danger" href="#" role="button">Je Précommande</a></p>
		  <!-- AddThis Button BEGIN -->
		  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
		    <a class="addthis_button_preferred_1"></a>
		    <a class="addthis_button_preferred_2"></a>
		    <a class="addthis_button_preferred_3"></a>
		    <a class="addthis_button_preferred_4"></a>
		    <a class="addthis_button_compact"></a>
		    <a class="addthis_counter addthis_bubble_style"></a>
		  </div>
		  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
		  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52ea7450721c8b82"></script>
		  <!-- AddThis Button END -->
	      </div>
	    </div>
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <div class="featurette newsletter">
	<h2 class="newsletter-heading text-center"><span class="text-muted">Inscrivez-vous à notre</span> Newsletter !</h2>
	<form role="form" action="/newsletter" method="post">
	  <div class="row">
	    <div class="input-group margin-bottom-sm col-xs-10 col-sm-6 col-xs-offset-1 col-sm-offset-3">
	      <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
	      <input class="form-control" name="email" type="text" placeholder="Email">
	      <span class="input-group-btn">
		<button type="submit" class="btn btn-default">S'inscrire</button>
	      </span>
	    </div>
	  </div>
	</form>
      </div>

      <hr class="featurette-divider">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/images/commander.png" alt="Generic placeholder image">
          <h2>Vous commandez</h2>
          <p>Laissez vous tenter par la destination qui vous met l’eau à la bouche. En un simple clic vous recevez tout ce dont vous avez besoin pour concocter chez vous un repas venu d’ailleurs. </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/images/livrer.png" alt="Generic placeholder image">
          <h2>Nous vous livrons</h2>
          <p>L’Escale de Zoé apporte chez vous des produits soigneusement sélectionnés et des recettes parfaitement calibrées pour une soirée découverte. Il ne vous reste plus qu’à compléter par les produits frais nécessaires, dont nous vous fournissons la liste.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/images/cuisiner.png" alt="Generic placeholder image">
          <h2>Vous cuisinez</h2>
          <p>A vous de jouer! Vous serez surpris de la facilité avec laquelle vous parviendrez à recréer l’atmosphère du dernier pays où Zoé a fait escale.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <div class="featurette">
	<h2 class="featurette-heading text-center"><span class="text-muted">Découvrez-moi en</span> images !</h2>
	<br><br>
	<div class="row">
	  <div class="col-md-8 col-md-offset-2">
	    <div class="flex-video widescreen">
	      <iframe src="https://www.youtube-nocookie.com/embed/kIB7OBOgW20?rel=0"
		      frameborder="0" allowfullscreen=""></iframe>
	    </div>
	  </div>
	</div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Qui est</span> Zoé ?</h2>
          <p class="lead">« Pour bien aimer un pays il faut le manger, le boire et l’entendre chanter », disait Michel Déon. Zoé a décidé de bien appliquer la leçon et arpente la planète des sommets des Arivalli au désert de Kalahari, à la découverte des mets et délices des quatre coins du monde.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/zoe.png" alt="Zoe">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/give.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">En quoi</span> Zoé va vous changer la vie ?</h2>
          <p class="lead">lorsque l’on est coincé au bureau toute la semaine, nos envies d’ailleurs sont impossibles à combler. Zoé ne voyage heureusement pas que pour elle: dès que ses pérégrinations la mènent à un bureau de poste, elle s’empresse de vous expédier ses recettes et ses produits secrets. A vous de guetter les étapes de son voyage et de commander avec une facilité déconcertante un coffret qui sera la promesse de belles surprises culinaires.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Quelles sont </span>les garanties de Zoé ?</h2>
          <p class="lead">Zoé vous garantit des recettes simples et atypiques, à concocter avec des ingrédients de qualité, éco-responsables et traçables. Elle s’engage à ne pas vous laisser sur votre faim et à assouvir votre soif de savoir.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/images/hand.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
<% include footer.html %>
