<% include header.html %>
<div class="container my-container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <form name="login" class="well" id="loginForm"
	    role="form" action="/login" method="post">
	<legend>Connexion</legend>
	<div class="control-group">
	  <div class="controls">
	    <div class="form-group input-group">
	      <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
	      <input class="form-control" name="email" type="email" placeholder="Email">
	    </div>
	  </div>
	</div>
	<div class="control-group">
	  <div class="controls">
	    <div class="form-group input-group">
	      <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
	      <input class="form-control" name="password" type="password" placeholder="Password">
	    </div>
	  </div>
	</div>
	<label class="checkbox">
	  <input type="checkbox" name="persistent" value="1" checked="1"> Garder ma session active
	</label>
	<button type="submit" class="btn btn-info btn-large">Connexion</button>
      </form>
    </div>
  </div>
</div>
<% include simple_footer.html %>
