<% include header.html %>
<div class="container my-container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <form name="signup" class="well" id="signupForm"
	    role="form" action="/signup" method="post">
	<legend>Inscription</legend>
	<div class="control-group">
	  <div class="controls">
	    <div class="form-group input-group margin-bottom-sm">
	      <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
	      <input class="form-control" name="email" type="text" placeholder="Email">
	    </div>
	  </div>
	</div>
	<div class="control-group">
	  <div class="controls">
	    <div class="form-group input-group">
	      <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
	      <input class="form-control" name="password" type="password" placeholder="Password">
	    </div>
	  </div>
	</div>
	<button type="submit" class="btn btn-info btn-large">Inscription</button>
      </form>
    </div>
  </div>
</div>
<% include simple_footer.html %>
