body {
    background-color: #f8f8f8;
    padding-top: 51px;
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #242424;
    border-top: 10px #777777 solid;
    color: #ffffff;
}

footer h4 {
    font-size: 42px;
}

footer a {
    color: #777777;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    color: #333333;
    background-color: transparent;
    text-decoration: none;
}

.navbar-brand {
    font-family: 'amatic_scregular';
    font-size: 42px;
}

.clearfix > li > a {
    padding-top: 11px;
    padding-bottom: 11px;
}

.addthis_toolbox {
    width: 242px;
    margin: 0 auto;
}

.my-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.well-white {
    background-color: #fff;
    border: 1px solid #d5d5d5;
    padding-bottom: 50px;
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
    border-radius: 6px;
    box-shaddow: 0 1px 2px rgba(0, 0, 0, .075);
}

.well-white .page-header h1 {
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    padding-left: 20px;
}

.well-white .form {
    margin-top: 20px;
    padding: 0 20px;
}

.well-white .cf {
    zoom: 1;
}

.well-white .left {
    float: left;
}

.well-white .right {
    float: right;
}

.carousel {
    height: 564px;
    margin-bottom: 60px;
}

.carousel .item {
    height: 564px;
    background: #333 url(../images/bg-blk.jpg) 0 0 repeat;
}

.carousel-caption h1 {
    font-family: 'amatic_scregular';
    font-size: 72px;
}

.caption p {
    font-size:13px;
}

.asset-box img {
    max-height: 130px;
}

.marketing {
    padding-left: 15px;
    padding-right: 15px;
}

.marketing .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}

.featurette-divider {
    margin: 80px 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.newsletter-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

@media (min-width: 768px) {
    .marketing {
	padding-left: 0;
	padding-right: 0;
    }

    .featurette-heading {
	font-size: 50px;
    }

    .newsletter-heading {
	font-size: 50px;
    }

    .asset-box img {
	max-height: 180px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
	margin-top: 120px;
    }

    .carousel {
	height: 430px;
    }

    .carousel .item {
	height: 430px;
    }

    .asset-box img {
	max-height: 250px;
    }
}

@font-face {
    font-family: 'amatic_scregular';
    src: url('../fonts/amaticsc-regular-webfont.eot');
    src: url('../fonts/amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/amaticsc-regular-webfont.woff') format('woff'),
    url('../fonts/amaticsc-regular-webfont.ttf') format('truetype'),
    url('../fonts/amaticsc-regular-webfont.svg#amatic_scregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
}

.flex-video.widescreen {
    padding-bottom: 57.25%;
}

.flex-video.vimeo {
    padding-top: 0;
}

.flex-video iframe,
.flex-video object,
.flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-device-width: 800px),
only screen and (device-width: 1024px) and (device-height: 600px),
only screen and (width: 1280px) and (orientation: landscape),
only screen and (device-width: 800px), only screen and (max-width: 767px) {
    .flex-video {
	padding-top: 0;
    }
}
