/* GLOBAL STYLES
   -------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #5a5a5a;
    padding-top: 51px;
}

footer {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #333 url(../images/bg-blk.jpg) 0 0 repeat;
}

footer h4 {
    color: #ffffff;
    font-size: 42px;
}

.navbar-brand {
    font-family: 'amatic_scregular';
    font-size: 42px;
}

.clearfix > li > a {
    padding-top: 11px;
    padding-bottom: 11px;
}

.social-list > ul {
    float: left;
    align: left;
    list-style: none;
}

.social-list > ul > li {
    display: inline;
}

.social-list > ul > li > a {
    color: #777777;
}

/* CUSTOMIZE THE CAROUSEL
   -------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 615px;
    margin-bottom: 60px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 615px;
    background: #333 url(../images/bg-blk.jpg) 0 0 repeat;
}

.carousel .item h1 {
    font-family: 'amatic_scregular';
    font-size: 72px;
}

.asset-box img {
    max-height: 200px;
}

/* MARKETING CONTENT
   -------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-left: 15px;
    padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}


/* Featurettes
   ------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/* RESPONSIVE CSS
   -------------------------------------------------- */

@media (min-width: 768px) {
    .marketing {
	padding-left: 0;
	padding-right: 0;
    }

    .featurette-heading {
	font-size: 50px;
    }

    .asset-box img {
	max-height: 250px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
	margin-top: 120px;
    }

    .carousel {
	height: 400px;
    }

    .carousel .item {
	height: 400px;
    }
}

@font-face {
    font-family: 'amatic_scregular';
    src: url('../fonts/amaticsc-regular-webfont.eot');
    src: url('../fonts/amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/amaticsc-regular-webfont.woff') format('woff'),
    url('../fonts/amaticsc-regular-webfont.ttf') format('truetype'),
    url('../fonts/amaticsc-regular-webfont.svg#amatic_scregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
